[user]
	email = roman.studenikin@booking.com
	name = Roman Studenikin
[core]
	editor = vim
[merge]
	tool = vimdiff

[alias]
	st = status
	unstage = reset HEAD --
	graph = log --graph --decorate --oneline
	co = checkout
[push]
	default = simple
